{{yield}}
<form {{on "submit" this.handleSubmit}}>
  <label for="amount">Miles</label>
  <Input @type="text" id="amount" name="amount" value={{this.value}} {{on "change" this.updateValue}} />
  <button type="submit">Log Miles</button>
</form>
<div>
  <button type="button" {{on "click" this.newGoal}}>New Goal</button>
</div>