<h1>Run Towards Your Goal!</h1>
{{#each model as |goal|}}
{{#if goal.goal}}
<Progress @progress={{goal.progress}} @goal={{goal.goal}} />
<Progress-form />
{{else}}
{{goal-form}}
{{/if}}
{{/each}}
{{outlet}}